
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
@section Styles{
    <style>

    </style>
}
@section Scripts{
    <script>
        function loadCity(){
            const xhr = new XMLHttpRequest();
            xhr.open('GET', @Url.Content("/api/cities"));
            xhr.send();

            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const cities = datas.map(city => `<option value='${city}'>${city}</option>`)
                selCity.innerHTML = cities.join("");
            }
        }
        loadCity()
    </script>
}
