
@{
    ViewData["Title"] = "getDemo";
}

<h1>getDemo</h1>
<div class="alert alert-info" id="div1"></div>
@section Styles{
    <style>

    </style>
}
@section Scripts{
    <script>
        const xhr = new XMLHttpRequest();


        const name = "jaccck";
        const age = 25;
        //xhr.open('Get','@Url.Content("/Api/getDemo")?name=mary&age=30');
        xhr.open('Get', `@Url.Content("/Api/getDemo")?name=${name}&age=${age}`);

        xhr.send();

        xhr.addEventListener('load',()=>{
            const data =xhr.responseText;
            document.querySelector('#div1').innerHTML = `<h3>${data}</h3>`
        })
    </script>
}